.about {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #002244;
  box-sizing: border-box;
  padding: 0; /* Remove extra padding */
  margin: 0;
  min-height: calc(100vh - 140px);
}

.about h1 {
  font-size: 32px;
  color: #b3d1ff;
  margin-bottom: 10px;
}

.about h2 {
  font-size: 24px;
  margin-top: 30px;
  color: #b3d1ff;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about li {
  margin-bottom: 10px;
}
