.searchBar {
  margin: 20px 10px;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
